import * as React from 'react';
import {connect} from 'react-redux';
import {GlobalState} from '../../store/rootReducer';

import {Wrap} from './styles';

type Props = {}

type State = {}

export default class {{properCase name}} extends React.Component<Props, State> {
  public readonly state: State = {};

  componentDidMount() {
  // API calls goes here
  }

  render() {
  return (
  <Wrap>
    <article>
      <h1>Hello there!</h1>
      <hr />
      <p>This is your new {{properCase name}} view.</p>
    </article>
  </Wrap>
  );
  }
  }
